<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Unofficial UNC News Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- A favicon is the icon that displays at the top of a tab for the website. -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>
    <h1><a href="{{ url_for('home') }}">Unofficial UNC News</a></h1>
    <h2><i>Bringing you news about UNC.</i></h2>
    
    <!-- Creating a grid to ensure proper sizing and placement of elements. -->
    <div class="grid-container">
      <p>
        This homepage is under construction!
        Please navigate <a href="{{ url_for('index') }}">here</a> for news articles about UNC.
        This website is unofficial and has no affiliation with UNC.
      </p>
    </div>
  </body>
</html>